<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <nav class="bg-black text-white flex justify-between">
        <img src="./images/1.png" alt="vatta" class="h-16  p-3 ">
        <ul class="px-20 py-4  flex space-x-11 justify-end" >
            <li class="cursor-pointer ">Home</li>
            <li class="cursor-pointer ">About</li>
            <li class="cursor-pointer ">Catalog</li>
            <li class="cursor-pointer ">Contact Us</li>
          </ul> 
    </nav> 
    <main class=" bg-gray-400 flex ">
        <div class="main  py-32 w-8/12" >
            <div class="text-5xl ">
                Lorem Ipsum
            </div>
            <p class="p-3 ">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class=" button">
                <button class="bg-black text-white py-3 w-36 rounded-3xl cursor-pointer hover:text-black hover:bg-white mx-4 pt-4">Lorem</button>
                <button class="bg-black text-white py-3 w-36 rounded-3xl cursor-pointer hover:text-black hover:bg-white mx-4 pt-4">Ipsum</button>
            </div>
            
        </div>
        <div class="w-4/12 float-right">
            <img src="images/2.png" alt="inko vatta" class="w-96 pt-80">
        </div>
    </main>
</body>
</html>