<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Responsiveness using tailwind</title>
</head>
<body>
    <nav class="bg-black p-1 flex flex-col sm:flex-row rounded-xl justify-between">
        <img src="images/1.png" class="h-10 w-10 pt-1" alt="">
        <ul class="flex flex-col sm:flex-row justify-end">
            <li class="w-16 h-8 text-center border-white-1 mt-4 sm:ml-4 text-white cursor-pointer">Home</li>
            <li class="w-16 h-8 text-center border-white-1 mt-4 sm:ml-4 text-white cursor-pointer">About</li>
            <li class="w-16 h-8 text-center border-white-1 mt-4 sm:ml-4 text-white cursor-pointer">Contact</li>
            <li class="w-16 h-8 text-center border-white-1 mt-4 sm:ml-4 text-white cursor-pointer">Profile</li>
        </ul>
    </nav>
    <h1 class="text-3xl  sm:font-thin ">
        Hello World
    </h1>
    <img class="w-16 sm:w-24 md:w-32 lg:w-48" src="images/2.png">
</body>
</html>