<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Responsiveness using tailwind</title>
</head>
<body>
    <nav class=" flex-col sm:flex-row md:flex-row">
        <li class="w-auto h-auto  bg-blue-400">Home</li>
        <li class="w-auto h-auto  bg-blue-400">About</li>
        <li class="w-auto h-auto  bg-blue-400">Contact Us</li>
        <li class="w-auto h-auto  bg-blue-400">Profile</li>
    </nav>
    <h1 class="text-3xl  sm:font-thin ">
        Hello World
    </h1>
    <img class="w-16 sm:w-24 md:w-32 lg:w-48" src="images/2.png">
</body>
</html>